* {
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #eee;
    box-shadow: inset 0 0 100px 10px rgba(0, 0, 0, 0.3);
}

canvas {
    border: solid 3px #ccc;
    box-sizing: border-box;;
}

#gameWrapper {
    position: relative;
    width: 3006px;
    height: 3006px;
}

#infoBoard {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    background-color: #343434e9;
    font-style: italic;
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: rgb(211, 211, 211);
    width: 120px;
    height: 50px;
    display: flex;
    border-bottom-left-radius: 20px;
    font-size: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playersOnlineText { 
    margin: auto;
}

#titleScreen {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: #000000cd;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
    font-family:'Trebuchet MS',sans-serif;
}

#nicknameInput {
    padding: 10px; 
    font-size: 1.2em; 
    margin-top: 40px;
    margin-bottom: 15px;
    font-family:'Trebuchet MS', sans-serif;
    border-radius: 20px;
    background-color: #003f69;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 56, 113);
    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.467), 0px 6px 30px 5px rgba(0, 0, 0, 0.467);
    text-align: center;
    outline: none;
    transition: 0.2s;
}

#nicknameInput::placeholder {
    color: rgb(0, 103, 187);
}

#nicknameInput:focus {
    border: 5px solid rgb(0, 103, 187);
}

#nicknameInput:hover {
    background-color: #003254;
}

#playButton {
    padding: 14px;
    font-size: 1.2em;
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 900;
    border-radius: 20px;
    background-color: #0f7bc2;
    color: rgba(255, 255, 255, 0.954);
    border: 3px solid #38affd;
    transition: 0.2s;
    margin-top: 15px;
}

#playButton:hover {
    background-color: #27a8ff;
    border: 3px solid #58bcff;
    padding: 19px;
    margin-top: 13px;
}

#map {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 0px;
    height: 0px;
    display: none;
    background-color: #f1f1f1c0;
    border-radius: 20px;
    border: #bfbfbfd3 2px solid;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#reload-bar {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 200px;
    height: 20px;
    background-color: rgba(188, 188, 188, 0.628);
    border-radius: 10px;
    display: none;
    z-index: 1000;
}

#reload-bar-metre {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 200px;
    height: 20px;
    background-color: rgba(44, 255, 101, 0.628);
    border-radius: 10px;
    display: none;
    z-index: 1000;
}

#reload-text {
    position: absolute;
    top: -55px;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 0 #ffffff70, -2px 0 #ffffff70, 0 2px #ffffff70, 0 -2px #ffffff70, 1px 1px #ffffff70, -1px -1px #ffffff70, 1px -1px #ffffff70, -1px 1px #ffffff70;
}

#leaderBoard {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 225px;
    height: 130px;
    display: none;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 30px;
    z-index: 2500;
}

#leaderBoard p {
    font-style: italic;
    margin: 0;
    display: flex;
    align-items: center;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;       /* Förhindrar radbrytning */
    text-overflow: ellipsis;   /* Visar "..." om texten är för lång (valfritt) */
}

#reloadImg {
    position: absolute;
    right: -65px;
    top: -30px;
    width: 54px;
    height: 54px;
    opacity: 0.5;
}

#reloadLoadingText {
    display: none;
    position: absolute;
    right: -160px;
    top: -18px;
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 600;
}

#building-material {
    display: none;
    position: absolute;
    left: 20px;
    bottom: 44px;
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 22px;
    z-index: 1001;
    color: #ff4a4a;
    text-shadow: 2px 0 #ffffff70, -2px 0 #ffffff70, 0 2px #ffffff70, 0 -2px #ffffff70, 1px 1px #ffffff70, -1px -1px #ffffff70, 1px -1px #ffffff70, -1px 1px #ffffff70;
}

#textBelowTitle {
    font-style: italic;
    color: rgba(186, 186, 186, 0.564);
    margin: 1px;
    margin-bottom: 8px;
}

#controlsButton {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 800;
    font-family:'Trebuchet MS', sans-serif;
    transition: 0.3s;
    position: absolute;
    bottom: 30px;
    font-style: italic;
    border-radius: 15px;
    background-color: #0081b0;
    color: #eee;
    border: solid 2px white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#controlsButton:hover {
    background-color: #006285;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 18px;
    padding-bottom: 18px;
    bottom: 28px;
}

#controlsImg {
    display: none;
    position: absolute;
}

#backdrop {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000072;
}